.test-marker {
  border: 1px solid cyan;
  position: absolute;
}

.ace_scripture {
  background-color: rgba(255, 0, 0, 0.15);
  border-radius: 3px;
  border-style: inset;
}

.ace_keyword.ace_namechrist {
  background-color: rgba(0, 0, 255, 1);
  border-radius: 3px;
  border-style: inset;
  color: white;
}
