.reference_error {
  border-bottom: 2px dashed red;
  border-radius: 0;
  position: absolute;
}

.ace_scripture {
  color: #c54848b4;
  font-weight: bold;
}

.ace_keyword.ace_name {
  color: #7d2e5f;
}

.ace_keyword.ace_namechrist {
  color: #6666ff;
}

.ace_url.ace_general {
  text-decoration: underline;
  color: cornflowerblue;
}

.ace_url.ace_youtube {
  text-decoration: underline;
  color: #d17625;
}

.ace_url.ace_conference.ace_talk {
  text-decoration: underline;
  color: cadetblue;
}
